<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <title>Морские Грузоперевозки</title>
</head>
<body>
<div class="container">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="#">Главная</a>
        <a class="nav-item nav-link" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Выход</a>
    </nav>
    <div class="container center">
        <div th:if="${currentUser}"><h1 style="text-align: center" th:text="'Приветстуем Вас, '+${currentUser.getUsername()}"></h1></div>
        <div class="row">
            <div class="col">
                <a href="/order"> <button type="button" class="btn btn-primary btn-lg btn-block issue">Оформить заказ</button></a>
            </div>
            <div class="col">
                <a href="/list"><button type="button" class="btn btn-primary btn-lg btn-block issue">Мои заказы</button></a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
</body>
</html>