<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="container">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/home">Главная</a>
        <a class="nav-item nav-link" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Выход</a>
    </nav>
    <h5 align="center">Список заказов:</h5>
    <table th:if="${myOrders!=null and !myOrders.isEmpty()}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Идентификационный номер</th>
            <th scope="col">Просмотр</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${myOrders}">
            <td scope="col" th:text="${order.getId()}"></td>
            <td scope="col" th:text="${order.toString()}"></td>
            <td scope="col">
                <div>
                    <a th:href="'/list/'+${order.getId()}" role="button" class="btn btn-success ml-0">Посмотреть</a>
                </div>
            </td>
            <td scope="col">
                <div>
                    <a th:href="'/list/del/'+${order.getId()}" role="button" class="btn btn-success ml-0">Удалить из истории</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${myOrders!=null and !myOrders.isEmpty()}" class="container center">
        <h1>Заказы отсутствуют!</h1>
    </div>
</div>


<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
</body>
</html>