<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div class="container">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" href="/home">Главная</a>
        <a class="nav-item nav-link" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Выход</a>
    </nav>
    <form role="form" th:object="${form}" th:action="@{/order}" method="post" class="order form-horizontal">
        <div th:if="${addedSuccessful}" id="addedSuccessful">
            <div class="alert alert-success">
                Ваш заказ добавлен!
            </div>
        </div>
        <h5>Информация о заказe</h5>
        <div class="form-row mb-3">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-inputState">Товар</span>
                </div>
                <select class="form-control" required name="product"
                        id="inputState" aria-describedby="inputGroup-sizing-inputState">
                    <option th:each="product : ${products}"
                            th:value="${product}"
                            th:text="${product.getName()}+' | Поставщик: '+${product.getManufacturer()}+' | Срок хранения: ' +${product.getShelfLife()}">
                    </option>
                </select>
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-consignmentAmount">Количество</span>
                </div>
                <input type="number" class="form-control" required name="consignmentAmount"
                       id="consignmentAmount" aria-describedby="inputGroup-sizing-consignmentAmount"/>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-consignmentShippingDate">Срок доставки</span>
                </div>
                <input type="date" class="form-control" required name="consignmentShippingDate"
                       id="consignmentShippingDate" aria-describedby="inputGroup-sizing-consignmentShippingDate">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-consignmentShippingPlace">Место доставки</span>
                </div>
                <input type="text" class="form-control" required name="consignmentShippingPlace" id="consignmentShippingPlace"/>
            </div>
        </div>


        <h5>Информация о заказчике</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-name">Название</span>
            </div>
            <input type="text" class="form-control" required id="name"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-address">Адрес</span>
            </div>
            <input type="text" class="form-control" required id="address"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-phone">Телефон</span>
            </div>
            <input type="tel" class="form-control" required id="phone"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-contact">Контактное лицо</span>
            </div>
            <input type="text" class="form-control"  required id="contact"/>
        </div>
        <input type="submit" id="registerButton" class="btn btn-primary"  value="Оформить">
    </form>
</div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
</body>
</html>